<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ユーザ解答結果</title>
</head>
<body>
	<p th:text="${results}"></p>
	<div th:each="data : ${datas}">
		<div th:text="${data.select_answer}"></div>
		<div th:text="${data.time}"></div>
		<hr/>
	</div>

	<div align="center">
		<h1>解答結果</h1>

		<!--  <p th:text="${}"></p> -->	<!--大問タイトル  -->
		<!--  <p th:text="${}"></p> -->	<!-- 点数 -->


			<div th:each="i : ${#numbers.sequence(1,resultList.size())}">
				<p th:text="'Q'+${i}" ></p>
				<div th:each="result:${resltList}" th:object="${result}">
					<p th:text="*{question}+':'+*{marubBatsu}"></p>	<!-- 問題文、〇× -->
					<p th:text="'あなたの解答→'+*{select_answer}"></p>	<!-- 解答 -->
					<p th:text="'正解→'+*{answer}"></p>					<!-- 正解 -->
					<p th:if="*{commentary}!=null"><p th:text="'解説:'+*{commentary}"></p>	<!-- 解説 -->
				</div>
			</div>

		<a href="menu" name="menu">メニューへ</a>
		<br></br>
		<br></br>
		<input type="submit" value="logout" name="logout"/>
	</div>
</body>
</html>