<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ユーザ解答フォーム</title>
</head>
<body>
	<form th:action="@{/formAnswer}" method="post" th:object="${question_list}" th:id="${content_id}">
		<input type="hidden" th:field="${question_list.content}" />
		<div th:text="${question_list.content.content_title}"></div>
		<!-- <input type="hidden" th:value="${question_list.content.content_id}" />  -->
		
		
		<!-- ## error message ## -->
		<div th:text="${error_message}"></div>
		
		
		<div class="question_container" th:each="p, q_row : *{questions}"  th:id="'qContainer_' + ${q_row.index}" > 
			<div th:text="*{questions[__${q_row.index}__].question}"></div>
			
			<!-- ## 必須項目であれば表示  ## -->
			<span style="color:red;" th:if="*{questions[__${q_row.index}__].required_flag} == true">
					* 必須項目
			</span>
			<span class="question">
				<input type="hidden" th:field="*{questions[__${q_row.index}__].question_id}" /> 
				<input type="hidden" th:field="*{questions[__${q_row.index}__].content_id}" />
				<input type="hidden" th:field="*{questions[__${q_row.index}__].required_flag}" />
				<input type="hidden" th:field="*{questions[__${q_row.index}__].question}" />
			</span>
			
			<div class="choice_container" th:id="'cContainer_' + ${q_row.index}">
				<div th:each="c, c_row : *{choices}"
						th:if="*{questions[__${q_row.index}__].question_id} == *{choices[__${c_row.index}__].question_id}">
					<input type="hidden" th:field="*{choices[__${c_row.index}__].question_id}" /> 
					<input type="hidden" th:field="*{choices[__${c_row.index}__].answer_id}" />
					<input type="hidden" th:field="*{choices[__${c_row.index}__].content_id}" />
					<input type="hidden" th:field="*{choices[__${c_row.index}__].answer_id}" />
					<input type="checkbox" th:field="*{choices[__${c_row.index}__].is_answer}"/> 
					<input th:field="*{choices[__${c_row.index}__].answer}" />
				</div>
			</div>	
		</div>
		<button type="submit" class="btn btn-default">提出</button>
	</form>

	<!-- <form th:action="@{/formAnswer}" method="post" th:object="${list}">
		<div th:each="p, q_row : ${list}"  th:id="'qContainer_' + ${list[__${q_row.index}__].question_id}">
			<input type="hidden" name="content_id" th:value="${list[__${q_row.index}__].content_id}" />
			<input type="hidden" name="question_id" th:value="${list[__${q_row.index}__].question_id}" /> 
			<input type="hidden" name="user_id" th:value="${list[__${q_row.index}__].user_id}" /> 
			<input type="hidden" name="answer_id" th:value="${list[__${q_row.index}__].answer_id}" />  
			<div th:text="${question_list.questions[__${q_row.index}__].question}"></div>
			<div class="choice" th:each="choice : ${question_list.choices}">
				<div class="choice" th:if="${list[__${q_row.index}__].question_id} == ${choice.question_id}" >
					<input type="checkbox" name="select_answer" th:value="${choice.answer_id}" th:text="${choice.answer}" />
			
		  <div th:each="question : ${question_list.questions}">
			<div class="question" th:inline="text">Q : [[${question.question}]]</div>
			<div class="choice" th:each="choice : ${question_list.choices}">
				<div class="choice" th:if="${question.question_id} == ${choice.question_id}" >
					<input type="hidden" name="user_id" 		th:value="*{user_id}" />
					<input type="hidden" name="content_id" 		th:value="${question.getContent_id()}" />
					<input type="hidden" name="question_id" 	th:value="${question.getQuestion_id()}" />
					<input type="hidden" name="answer_id" 		th:value="${choice.getAnswer_id()}" />
					<input type="checkbox" name="select_answer" th:field="*{select_answer}" th:value="${choice.answer_id}" th:text="${choice.answer}" />
				</div>
			</div>
			</div></div>
		</div>
		<button type="submit" class="btn btn-default">提出</button>
	</form>
 -->
</body>
</html>