<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>《ユーザー》削除完了</title>
	</head>
	<body>
		<div align="center">	
		<p style="color:#CD5C5C;font-size: 120%">削除完了しました。</p>
		
		

			<form th:action="@{/userlist}" method="GET">
				<input type="submit" value="ユーザー一覧" style="color:#F08080;font-size: 130%"/>
			</form>
			<form th:action="@{/user}" method="GET">
				<input type="submit" value="メニュー"  style="color:#FA8072;font-size: 130%"/>
			</form>
		</div>	
			
	</body>
	
</html>