@CHARSET "UTF-8";
/* userupdate.html & usernew.html */

.userid{
	color:#696969; font-size:23px;
	font-weight:bold;
}
.userid:first-letter{color:#0099ff;}

.name{
	color:#696969; font-size:23px;
	font-weight:bold;
}
.name:first-letter{color:#D31996;}

.pass{
	color:#696969; font-size:23px;
	font-weight:bold;
}
.pass:first-letter{color:#19DD89;}


/* usernewOK */
.id{
	color:#696969; font-size:23px;
	font-weight:bold;
}
.id:last-letter{color:#0099ff;}

.name1{
	color:#696969; font-size:23px;
	font-weight:bold;
}
.name1:last-letter{color:#D31996;}

.role1{
	color:#696969; font-size:23px;
	font-weight:bold;
}
.role1:last-letter{color:#19DD89;}


