@CHARSET "UTF-8";
/*============================
#form
============================*/
/* html,bodyタグの設定 */
html, body{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    font-size: 1em;
}

/* ヘッダーの固定 */
div#header-fixed
{
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 140px;              /* 縦幅140px */
}

div#header { 
	border: 5px solid #fff;    /* 表示領域を白枠で囲う */
	height: 100%;              /* 縦の表示領域はheader-bkと同じ */
	width: 960px;              /* 横の幅970px */
	margin: auto;              /* 中央揃え */
}

input[type="button"] {
	font-size: 1em;
}

input[type="submit"] {
	font-size: 1em;
}

.title_container{
	margin: 10px;
	padding: 5px;
	border: solid 1px;
}
.title_container input[type="text"] {
	font-size: 3em;
}
.question_container{
	width: 80%;
	margin: 15px auto;
	padding: 20px;
	border: solid 1px;
}

.question{
	margin: 10px;
}

.question input {
	padding: 5px;
	font-size: 2em;
}



.choice_container{
	margin: 10px;
}
.choice_container div {
	margin:5px;
}

.choice_container input {
	padding: 5px;
	font-size: 1em;
}
